@using Blazored.Toast
@inject NavigationManager NavigationManager

<BlazoredToasts />
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (!context.User.Identity!.IsAuthenticated)
                        {
                            NavigationManager.NavigateTo("/");
                        }
                        else
                        {
                            <p class="alert alert-danger">No esta autorizado para ver esta pagina</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                @{
                    NavigationManager.NavigateTo("/");
                }
                <p class="alert alert-warning">Error</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>



