@page "/ShoppingPage"
@inject ProxyVenta ProxyVenta
@inject ProxyProducto ProxyProducto
@inject ProxyCliente ProxyCliente
@inject SweetAlertService Swal
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@attribute [Authorize]


<PageTitle>Ventas</PageTitle>

<div class="container">
    <div class="card ">
        <h5 class="card-header">Facturación</h5>
        <div class="card-body border-radius: .5rem">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <div class="autocomplete">
                            <input @bind="@_filterClienteName" @oninput="HandleInputCliente" @onclick="OnFocusFilterCliente" class="form-control filter" placeholder="Nombre del Cliente" />
                            @if (_listCliente is not null)
                            {
                                <ul class="options">
                                    @if (_listCliente.Any())
                                    {
                                        @foreach (var item in _listCliente)
                                        {
                                            <li class="option" @onclick=@(_ => SelectCliente(item))>
                                                <span class="option-text">@item.ToString()</span>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="disabled option">No results</li>
                                    }
                                </ul>
                            }
                        </div>

                    </div>
                    <div class="col-md-1 ">
                        <label for="" class="form-label" style="visibility:hidden">dummy</label>
                        @if (_listCliente != null)
                        {
                            <div class="spinner-grow text-success" role="status">
                            </div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="Nombre" class="form-label">Producto</label>
                        <div class="autocomplete">
                            <input @bind="@_filterProductoName" @oninput="HandleInputProducto" @onclick="OnFocusFilterProducto" class="form-control filter" placeholder="Nombre del Producto" />
                            @if (_listProducto is not null)
                            {
                                <ul class="options">
                                    @if (_listProducto.Any())
                                    {
                                        @foreach (var item in _listProducto)
                                        {
                                            <li class="option" @onclick=@(_ => SelectProducto(item))>
                                                <span class="option-text">@item.Descripcion</span>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="disabled option">No results</li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="col-md-1 ">
                        <label for="" class="form-label" style="visibility:hidden">dummy</label>
                        @if (_listProducto != null)
                        {
                            <div class="spinner-grow text-success" role="status">
                            </div>
                        }
                    </div>
                    <div class="col-md-2 ">
                        <label for="" class="form-label" style="visibility:hidden">dummy</label>
                        <button class="btn btn-primary form-control" @onclick="OnSearch">Buscar</button>
                    </div>
                    <div class="col-md-2">
                        <label for="" class="form-label" style="visibility:hidden">dummy</label>
                        <button class="btn btn-secondary form-control" @onclick="OnClear">Limpiar</button>
                    </div>
                </div>


                <table class="table table-responsive-md table-striped table-hover table-sm mt-3" style="border-radius: 6px; overflow: hidden; font-size:medium">
                    <caption></caption>
                    <thead style="background-color: black; color: #fff; cursor:pointer ; height: 50px;text-align: left; vertical-align: middle;">
                        <tr>
                            <th scope="col">
                                No
                            </th>
                            <th scope="col" class="">
                                Código
                            </th>
                            <th scope="col" class="">
                                Producto
                            </th>
                            <th scope="col" style="text-align: right;">
                                Cantidad
                            </th>

                            <th scope="col" style="text-align: right;">
                                Precio
                            </th>
                            <th scope="col" style="text-align: right;">
                                Impuesto
                            </th>
                            <th scope="col" style="text-align: right;">
                                Total
                            </th>
                            <th scope="col" style="text-align: center;">
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                            double impuesto = 0d;
                            double total = 0d;
                            double totalImpuesto = 0d;
                            double granTotal = 0d;

                            if (_listaFacturaDetalleDTO.Any())
                                foreach (var item in _listaFacturaDetalleDTO)
                                {

                                    index = index + 1;
                                    impuesto = (double)@item.PrecioUnitario * @item.Cantidad * 0.13;
                                    totalImpuesto = totalImpuesto + impuesto;
                                    total = impuesto + (double)@item.PrecioUnitario * @item.Cantidad;
                                    granTotal = granTotal + total;
                                    <tr style="">
                                        <td>@index</td>
                                        <td>@item.IdProducto</td>
                                        <td>@item.Descripcion.Trim().PadRight(40,'.').Substring(0,20)</td>
                                        <td align="right">@item.Cantidad</td>
                                        <td align="right">@item.PrecioUnitario.ToString("N2")</td>
                                        <td align="right">@impuesto.ToString("N2")</td>
                                        <td align="right">@total.ToString("N2")</td>
                                        <td align="Center">
                                            <button class="btn btn-danger " @onclick=" ()=> OnDelete( item.IdProducto)">Delete</button>
                                        </td>
                                    </tr>

                                }
                            if (_listaFacturaDetalleDTO.Any())
                            {
                                <tr style="background-color:black">
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td align="right"></td>
                                    <td align="right"></td>
                                    <td align="right" style="color:whitesmoke;  font-weight: bold"> Total</td>
                                    <td align="right" style="color:whitesmoke;  font-weight: bold">@granTotal.ToString("N2")</td>
                                    <td> </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="btn-group" role="group" style="gap: 10px">
                    <button class="btn btn-success w-300  " @onclick="OnSave">Finalizar </button>
                    <button class="btn btn-danger w-300 " @onclick="OnClear">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>




@code {
    private string _descripcion { set; get; } = "";
    private FacturaDTO _factura = new FacturaDTO();
    private IList<FacturaDetalleDTO> _listaFacturaDetalleDTO = new List<FacturaDetalleDTO>();
    private ProductoDTO? _productoDTO { set; get; } = new();
    private List<ProductoDTO>? _listProducto = null;
    private List<ClienteDTO>? _listCliente = null;
    private ClienteDTO? _clienteDTO { set; get; } = new();
    private string? _filterProductoName { set; get; } = "";
    private string _filterClienteName { set; get; } = "";
    private bool IsLoading = false;

    protected override void OnInitialized()
    {
        _factura = new FacturaDTO()
            {
                IdCliente = 0,
                Estado = true,
                IdFactura = 0,
                FechaVenta = DateTime.Now
            };
    }

    private void OnFocusFilterCliente()
    {
        _filterClienteName = "";
        _clienteDTO = new ClienteDTO();
    }

    private void OnFocusFilterProducto()
    {
        _filterProductoName = "";
        _productoDTO = new ProductoDTO();
    }

    private void OnkeyPress(KeyboardEventArgs e)
    {
        // Console.WriteLine(_descripcion);
    }

    private async Task HandleInputCliente(ChangeEventArgs e)
    {
        string filter = "";
        try
        {
            if (e == null || e.Value == null)
            {
                return;
            }

            filter = e!.Value!.ToString()!;

            if (filter?.Length >= 1)
            {
                var response = await ProxyCliente.FindByDescriptionAsync(filter);
                if (response.Success && response.Data!.Count > 0)
                    _listCliente = response.Data.ToList();
                else
                    _listCliente = null;
            }
            else
            {
                _clienteDTO = null;
                _filterClienteName = "";
            }
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }


    // https://github.com/mikebrind/Blazor-Autocomplete/blob/master/Blazor%20Autocomplete/Client/wwwroot/index.html
    // Ver video
    private async Task HandleInputProducto(ChangeEventArgs e)
    {
        string filter = "";
        try
        {
            if (e == null || e.Value == null)
            {
                return;
            }

            filter = e!.Value!.ToString()!;

            if (filter?.Length >= 1)
            {
                var response = await ProxyProducto.FindByDescriptionAsync(filter);
                if (response.Success && response.Data!.Count > 0)
                    _listProducto = response.Data.ToList();
                else
                    _listProducto = null;
            }
            else
            {
                _productoDTO = null;
                _filterProductoName = "";
            }
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task SelectProducto(ProductoDTO producto)
    {

        string input = "";
        int cantidad = 0;
        Dictionary<string, string> dictionary = new Dictionary<string, string>();
        double impuesto = 0, total = 0;
        try
        {
            _productoDTO = producto;
            _filterProductoName = $"{_productoDTO.IdProducto} - {_productoDTO.Descripcion} ";
            _listProducto = null;

            Console.WriteLine("Producto Seleccionado " + producto.IdProducto);
            // Config inpunt validator
            dictionary.Add("min", "1");
            dictionary.Add("max", "9999999");
            dictionary.Add("step", "1");

            var result = await Swal.FireAsync(new SweetAlertOptions
                {
                    ImageUrl = producto.URLImagen,
                    ImageHeight = 150,
                    ImageWidth = 150,
                    Title = producto.Descripcion,
                    Input = "number",
                    InputLabel = "Cantidad disponible: " + producto.Inventario,
                    InputValue = input,
                    InputPlaceholder = "Ingrese la cantidad",
                    Icon = SweetAlertIcon.Question,
                    ShowCancelButton = true,
                    ShowConfirmButton = true,
                    InputAttributes = dictionary,
                    AllowEnterKey = true,
                    ValidationMessage = "Debe agregar un valor mayor que cero",
                    ImageAlt = producto.Descripcion,
                    AllowEscapeKey = true
                });

            if (result.Value is null)
            {
                _filterProductoName = "";
                return;
            }

            if (string.IsNullOrEmpty(result.Value.Trim()))
            {
                _filterProductoName = "";
                return;
            }

            cantidad = Convert.ToInt32(result.Value.Trim());

            if (cantidad > producto.Inventario)
            {

                _ = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Text = "No hay inventario suficiente para la compra",
                        Title = "Atención",
                        Icon = SweetAlertIcon.Warning,
                        ShowCloseButton = true,
                        Timer = 3000,
                        AllowEscapeKey = true,
                        TimerProgressBar = true

                    });

                return;
            }



            impuesto = (double)producto.PrecioUnitario * cantidad * 0.13;
            total = impuesto + (double)producto.PrecioUnitario * cantidad;

            // Create detail
            FacturaDetalleDTO detalle = new FacturaDetalleDTO()
                {
                    Secuencia = 0,
                    IdProducto = producto.IdProducto,
                    Cantidad = cantidad,
                    Impuesto = impuesto,
                    PrecioUnitario = producto.PrecioUnitario,
                    Descripcion = producto.Descripcion
                };

            _listaFacturaDetalleDTO.Add(detalle);

            // Reenumerate secuence.
            int index = 0;
            _listaFacturaDetalleDTO.ToList().ForEach(
               x => x.Secuencia = ++index
            );

            // Clear detail after enumerate
            _factura!._FacturaDetalle = new List<FacturaDetalleDTO>();
            // Add to list componsed
            _factura!._FacturaDetalle.AddRange(_listaFacturaDetalleDTO);
            _factura.FechaVenta = DateTime.Now;
            // Clear input
            _filterProductoName = "";


        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task SelectCliente(ClienteDTO cliente)
    {

        try
        {
            _clienteDTO = cliente;
            _filterClienteName = cliente.ToString();
            _listCliente = null;

        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task OnDelete(int id)
    {
        try
        {
            //int index = _listaFacturaDetalleDTO.ToList().FindIndex(p => p.IdProducto == id);
            int index = _factura._FacturaDetalle.FindIndex(p => p.IdProducto == id);
            _factura._FacturaDetalle.RemoveAt(index);

            // List attached Page
            _listaFacturaDetalleDTO.RemoveAt(index);
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task OnSave()
    {
        try
        {
            IsLoading = true;
            _factura.IdCliente = _clienteDTO!.IdCliente;

            var response = await ProxyVenta.AddAsync(_factura);

            IsLoading = false;
            StateHasChanged();
            if (!response.Success)
            {
                IsLoading = false;
                _ = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Text = response.ErrorMessage,
                        Title = "Error",
                        Icon = SweetAlertIcon.Error,
                        ShowCloseButton = true
                    });
                return;
            }

            
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Factura Procesada",
                    Html = "<a href='http://localhost:8081/pdf/archivo.pdf' target='_blank'>Descargar factura</a> ",
                    Icon = SweetAlertIcon.Success,
                    ShowConfirmButton = true
                });


            _descripcion = "";
            _factura = new FacturaDTO();
            _listaFacturaDetalleDTO = new List<FacturaDetalleDTO>();
            _productoDTO = new();
            _listProducto = null;
            _filterProductoName = "";
            _filterClienteName = "";
            _clienteDTO = new();

        }
        catch (Exception ex)
        {
            IsLoading = false;
            StateHasChanged();
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
        finally
        {
            IsLoading = false;
            StateHasChanged();
        }

    }

    private async Task OnSearch()
    {

        await Task.FromResult(1);
    }

    private async Task OnKey()
    {
        Console.WriteLine("Key");
        await Task.FromResult(1);
    }
     
    private async Task OnClear()
    {

        await Task.FromResult(1);
    }
}
