@page "/PageProducto"
@inject ProxyProducto ProxyProducto
@inject SweetAlertService Swal
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Mantenimiento Producto</PageTitle>


<div class="container">
    <div class="card ">
        <h5 class="card-header">Consulta Producto</h5>
        <div class="card-body border-radius: .5rem">
            <div class="row">

                <div class="col-md-3">
                    <input type="text" @bind="_Descripcion" class="form-control" placeholder="Ingrese la descripcion" />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary form-control" @onclick="OnSearch">Buscar</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary form-control" @onclick="OnClear">Limpiar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="card mt-2">
        <div class="card-body">
            <section class="intro">
                <table class="table table-responsive-md table-striped table-hover table-sm mt-3" style="border-radius: 6px; overflow: hidden; font-size:medium">
                    <thead style="background-color: black; color: #fff; cursor:pointer ; height: 50px; vertical-align: middle;">
                        <tr style="">
                            <th scope="col" @onclick='(()=> Sort("IdProducto"))'>
                                Producto
                            </th>
                            <th scope="col" class="" @onclick='(()=> Sort("Descripcion"))'>
                                Descripción
                            </th>
                            <th scope="col" class="" @onclick='(()=> Sort("Estado"))'>
                                Categoria
                            </th>
                            <th scope="col" align="center">
                                Stock
                            </th>
                            <th scope="col" style="text-align: center;" align="center">
                                Precio
                            </th>
                            <th scope="col" style="text-align: center;" align="Center">
                                Estado
                            </th>
                            <th scope="col" align="center">
                                Comentario
                            </th>
                            <th scope="col" style="text-align: center;">
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _List!.Skip(RECORDS_PER_PAGE * (PaginaActual - 1)).Take(RECORDS_PER_PAGE))
                        {
                            <tr style="">
                                <td>@item.IdProducto</td>
                                <td>@item.Descripcion</td>
                                <td>@item.IdCategoria</td>
                                <td>@item.Inventario</td>
                                <td align="right">@item.PrecioUnitario.ToString("N2")</td>
                                <td align="Center">@(item.Estado == true ? "Activo" : "Inactivo")</td>
                                <td>@item.Comentarios</td>
                                <td align="Center">
                                    <button class="btn btn-primary " @onclick="() => OnEdit(item.IdProducto)">Editar</button>
                                    <button class="btn btn-danger " @onclick=" ()=> OnDelete( item.IdProducto )">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </section>

            @if (_List!.Count > 0)
            {
                <div class="card-footer">
                    <div class="row">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <button class="page-link btn" @onclick="()=>Previous()">Previous</button>
                                </li>
                                @{
                                    decimal cantidad = _List!.Count / RECORDS_PER_PAGE;
                                    if (_List!.Count % RECORDS_PER_PAGE > 0)
                                        cantidad++;

                                    for (int index = 1; index <= (int)cantidad; index++)
                                    {
                                        int currentIndex = index;
                                        <li class="page-item">
                                            <button class="page-link btn" @onclick="()=>GoToPage(currentIndex)">@index</button>
                                        </li>
                                    }
                                }
                                <li class="page-item">
                                    <button class="page-link" @onclick="()=>Next()">Next</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            }
        </div>
    </div>
    <button class="btn btn-primary mt-2 col-3" @onclick="OnCreate">Nuevo</button>
</div>




@code {
    private IList<ProductoDTO>? _List { get; set; } = new List<ProductoDTO>();
    private string _Descripcion { set; get; } = "";
    private const int RECORDS_PER_PAGE = 3;
    private int PaginaActual { set; get; }


    private void OnCreate()
    {
        NavigationManager.NavigateTo("/PageProductoNew");
    }

    private void OnEdit(int id)
    {
        NavigationManager.NavigateTo($"/PageProductoEdit/edit/{id}");
    }

    private async Task OnDelete(int id)
    {
        try
        {
            var response = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = $"Desea Borrar el registro {id}",
                    Title = "Atención",
                    Icon = SweetAlertIcon.Question,
                    ShowCancelButton = true,
                    ShowConfirmButton = true
                });

            if (response.IsConfirmed)
            {
                await ProxyProducto.DeleteAsync(id);
                await OnSearch();
                /* No se borra se actualiza
                var categoria = _List!.ToList().Find(p => p.IdCategoria == id);
                if (categoria != null)
                    _List!.Remove(categoria);
            */
            }

        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task OnSearch()
    {
        try
        {

            if (string.IsNullOrEmpty(_Descripcion))
            {
                _ = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Atención",
                        Text = "Ingrese la descripción del Producto",
                        Icon = SweetAlertIcon.Warning,
                        ShowCloseButton = true,
                        TimerProgressBar = true,
                        Timer = 1500
                    });
                return;
            }


            var response = await ProxyProducto.FindByDescriptionAsync(_Descripcion);

            if (response.Success == true)
            {
                _List = response.Data!.ToList();

                if (_List.Count == 0)
                {
                    ToastService.ShowWarning("No existen registro ", settings =>
                    {
                        settings.ShowProgressBar = true;
                        settings.IconType = IconType.Blazored;
                        settings.Timeout = 5;
                    });
                }
            }
        }
        catch (Exception ex)
        {
            _ = await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Title = "Error",
                    Icon = SweetAlertIcon.Error,
                    ShowCloseButton = true
                });
        }
    }

    private async Task OnClear()
    {
        _List = new List<ProductoDTO>();
        await Task.FromResult(_List);
    }

    private void Sort(string tipo)
    {

        List<ProductoDTO> lista = new List<ProductoDTO>();

        if (_List == null)
            return;

        if (_List.Count > 0)
            lista = _List.ToList();


        switch (tipo)
        {
            case "IdProducto":
                _List = lista.OrderBy(x => x.IdProducto).ToList();
                break;
            case "Descripcion":
                _List = lista.OrderBy(x => x.Descripcion).ToList();
                break;
            case "Estado":
                _List = lista.OrderBy(x => x.Estado).ToList();
                break;


        }
        GoToPage(1);

    }

    private void GoToPage(int pIndex)
    {
        PaginaActual = pIndex;
    }

    private void Next()
    {
        decimal cantidad = _List!.Count / RECORDS_PER_PAGE;
        if (_List!.Count % RECORDS_PER_PAGE > 0)
            cantidad++;

        if (PaginaActual != cantidad)
            PaginaActual++;
    }

    private void Previous()
    {
        if (!(PaginaActual - 1 <= 0))
            PaginaActual--;
    }
}
